.post
  .post-header
    = post2.user.email
  .post-image
    = image_tag 'https://www.worldatlas.com/r/w728-h425-c728x425/upload/b8/98/20/640px-primo-piano-del-monte-bianco-al-lago-di-pietra-rossa.jpg', class: 'image-hackgram'
  .post-interactions
    INTERACCIONES
  .post-description
    = post2.description
  .post-comments
    COMENTARIOS
  .post-new-comment
    NUEVO COMENTARIO!