.container
  %header
    = link_to 'HACKSTAGRAM', destroy_user_session_path, method: :delete
  .scrolleable
    .histories
    .posts
      - @posts.each do |post|
        = render partial: 'post', locals: {post2: post}
  %footer
    .menu
      OPCIONES DE MENU
